<!-- w3school -> bootsrap 3 -> Example -->
<!DOCTYPE html>
<html lang="en">

<head>
      <title>Bootstrap Example</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="../icon/css/font-awesome.css">
</head>

<body>
      <div class="container-fluid">
            <div class="row">
                  <div class="col-md-8 col-md-push-2 table-responsive"> <!--push: đẩy sang phải-->
                        <h2 class="bg-danger text-center">Bảng sửa video</h2>

                        <!-- enctype="multipart/form-data" -> Để upload file -->
                        <form action="../edit/<%= data.id %> " method="POST" enctype="multipart/form-data">
                        
                              <div class="form-group">
                                    <label for="form-title">Tiêu đề</label>
                                    <input type="text" class="form-control" id="form-title" name="tieude"
                                          value="<%= data.tieude %> ">
                              </div>
                              <div class="form-group">
                                    <label for="form-key">Mã video</label>
                                    <input type="text" class="form-control" id="key" name="key" 
                                          value="<%= data.key %> ">
                              </div>
                              <div class="form-group">
                                    <label for="form-description">Mô tả:</label>
                                    <textarea class="form-control" rows="5" id="mota" name="mota"><%= data.mota %>
                                    </textarea>
                              </div>
                              <div class="form-group row">
                                    <div class="col-md-6">
                                          Ảnh cũ: <img width="150px" src="../../upload/<%= data.image %> " alt="">
                                    </div>
                                    <div class="col-md-6">
                                          <label class="btn btn-default btn-file">Ảnh mới: </label>
                                          <input type="file" name="uploadfile">
                                    </div> 
                              </div>

                              <button type="submit" class="btn btn-default" name="ok">Submit</button>
                        </form>
                        
                  </div>
            </div>
      </div>
</body>

</html>